* {
	box-sizing: border-box;
}

.mask {
	overflow: hidden;
}

body {
	margin: 0;
	padding-left: 50px;
	font-family: Gill Sans, sans-serif;
	background-color: rgb(255, 255, 255);
}

header {
	height: 400px;
	width: auto;
	margin-bottom: 50px;
	padding: 40px;
	width: screen width;
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"logo titel"
		"logo titel"
		"logo menue";
	grid-gap: 0px;
}

button {
	position: relative;
	cursor: pointer;
}

button::after {
	position: absolute;
	content: "";
	bottom: -5.8rem;
	left: 50%;
	translate: -50% calc(-50% + 1.5rem);
	width: 5rem;
	height: 5rem;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
	opacity: 0;
	transition: all 1s ease;
}

button:hover::after {
	opacity: 1;
	translate: -50% -50%;
	transition: all 0.3s ease;
}

button.selected::after {
	translate: -50% -50%;
	opacity: 1;
}

#title {
	min-width: 1400px;
	color: rgb(107, 107, 107);
	font-weight: normal;
	padding: 80px 0px 0px 60px;
	font-size: 5rem;
	grid-area: titel;
}

#logo {
	height: 400px;
	margin-left: -50px;
	grid-area: logo;
	width: auto;
	border: 20px solid #ffffff;
	border-radius: 100%;
}

#menu {
	min-width: 1000px;
	width: auto;
	margin-left: -240px;
	padding-right: 50px;
	border-radius: 100px;
	height: 120px;
	grid-area: menue;
	background-color: rgb(0, 0, 0);
}

button {
	height: 120px;
	width: 150px;
	border: none;
	margin-right: 30px;
	background-color: black;
	color: rgb(99, 99, 99);
	font-size: 1.5rem;
	float: right;
}

.selected {
	font-weight: bolder;
	color: rgb(255, 255, 255);
	padding-bottom: 25px;
}

h2 {
	width: 120px;
	height: 110px;
	color: rgb(255, 255, 255);
	background-color: black;
	margin: 0px;
	padding-top: 30px;
	padding-left: 20px;
	border-radius: 0px 20px 20px 0px;
	font-size: 3em;
	float: right;
}

img {
	margin: auto;
	height: 400px;
	width: auto;
	grid-area: dinobild;
}

.card {
	min-width: 300px;
	width: 655px;
	height: 1000px;
	border: 3px solid #000000;
	padding: auto;
	margin: 20px;
	border-radius: 10px;
	float: left;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr 8fr;
	grid-template-areas:
		"nummer dinoname"
		"dinobild dinobild"
		"tabelle tabelle";
	grid-gap: 0px;
}

.card:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease;
	border: 5px solid #000000;
}

.groupA {
	background-color: rgb(200, 196, 104);
}

.groupB {
	background-color: rgb(186, 133, 94);
}

.groupC {
	background-color: rgb(103, 151, 145);
}

.groupD {
	background-color: rgb(96, 110, 144);
}

.groupE {
	background-color: rgb(134, 150, 90);
}

.groupF {
	background-color: rgb(128, 55, 100);
}

.groupG {
	background-color: rgb(91, 130, 159);
}

.groupH {
	background-color: rgb(95, 76, 72);
}

number {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	margin-left: 20px;
	padding: 30px 10px 10px 10px;
	border-radius: 0px 0px 20px 20px;
	font-size: 4rem;
	grid-area: nummer;
}

dinoname {
	color: rgb(0, 0, 0);
	margin: auto;
	font-size: 3.5rem;
	font-weight: lighter;
}

table {
	width: auto;
	height: auto;
	margin: 20px;
	padding-right: 30px;
	padding-top: 50px;
	grid-area: tabelle;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"iq ei"
		"gewicht größe"
		"zahn alter";
	grid-gap: 10px;
}

.symbol {
	height: 110px;
	width: auto;
	margin-left: 25px;
}

button:hover {
	color: rgb(230, 230, 230);
	transition: color 0.3s ease;
}
