* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	letter-spacing: 0.3125em;
}

h3 {
	text-transform: uppercase;
}

h5 {
	color: red;
	font-size: 1.2em;
}

li {
}

.kursiv {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}
