* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Gill Sans, sans-serif;
}

#wrapper {
	margin: auto;
	padding: 50px;
	width: 710px;
	height: 1055px;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 2fr;
	grid-template-rows: 2fr, 7fr, 2fr, 3fr, 3fr;
	grid-template-areas:
		"bezeichnung name name name"
		"bild bild bild bild"
		"größe größe gewicht stärke"
		"eigenschaft eigenschaft eigenschaft eigenschaft"
		"schwächen schwächen schwächen schwächen";
	grid-gap: 2px;
}

header {
	height: 110px;
	width: 498px;
	grid-area: name;
}
#icon {
	height: 90px;
	width: 90px;
	border-radius: 100px;
	grid-area: bild;
	float: right;
	margin-right: 7px;
	margin-top: -22px;
}

#image {
	height: 500px;
	width: 600px;
	grid-area: bild;
	margin-top: -25px;
}

#number {
	height: 150px;
	width: 150px;
	grid-area: bezeichnung;
	margin-top: -20px;
	margin-left: -20px;
	margin-bottom: -30px;
	margin-right: -30px;
}

#height {
	height: 100px;
	width: 202px;
	grid-area: größe;
}

#weight {
	height: 100px;
	width: 198px;
	grid-area: gewicht;
}

#strenght {
	height: 100px;
	width: 196px;
	grid-area: stärke;
}

#weakness {
	height: 120px;
	width: 600px;
	grid-area: schwächen;
}

#feature {
	height: 120px;
	width: 600px;
	grid-area: eigenschaft;
	margin-bottom: -12px;
}

.green {
	background-color: rgb(126, 124, 65);
	padding: 10px;
	color: rgb(255, 255, 255);
}

.lightgreen {
	background-color: rgb(239, 240, 223);
	color: rgb(56, 58, 35);
	padding: 10px;
	padding-right: 20px;
}

.border {
	border: 5px solid rgb(56, 58, 35);
	border-radius: 10px;
}

#weight-value {
	font-size: 2.92em;
	text-align: center;
	margin: 0px;
}

h1 {
	font-size: 5.5em;
	text-align: right;
	margin: 5px;
}

h2 {
	font-size: 2.7em;
	text-align: right;
	margin: 8px;
	margin-right: 0;
}

h3 {
	font-size: 2.8em;
	text-align: right;
	margin: 0px;
}

h4 {
	font-size: 1.2em;
	text-align: left;
	margin: 0px;
}

/*const data = und json reinkopieren*/
