* {
	box-sizing: border-box;
}

header,
aside,
main,
footer {
	background-color: grey;
	margin: 10px;
}
body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 800px;
	margin: auto;
}

#logo {
	background-color: crimson;
	height: 40px;
	width: 100px;
	margin-bottom: 10px;
	border: 5px double darkred;
}

nav,
article {
	background-color: lightgrey;
	padding: 10px;
}

nav {
	height: 50px;
}

header {
	height: 120px;
	padding: 10px;
}

main {
	height: 300px;
	width: 490px;
	padding: 10px;
	display: inline-block;
}

aside {
	height: 300px;
	width: 265px;
	display: inline-block;
}

footer {
	height: 30px;
}
