* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: auto;
	width: 800px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"kopf kopf"
		"navi navi"
		"seite gelb"
		"seite orangi"
		"fuss fuss";
	grid-gap: 10px;
}

header {
	background-color: red;
	grid-area: kopf;
}

nav {
	background-color: blue;
	grid-area: navi;
}

aside {
	background-color: green;
	grid-area: seite;
}

#yellow {
	background-color: yellow;
	grid-area: gelb;
}

#orange {
	background-color: orange;
	grid-area: orangi;
}

footer {
	background-color: violet;
	grid-area: fuss;
}
